/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family              : sans-serif; /* 1 */
    -ms-text-size-adjust     : 100%; /* 2 */
    -webkit-text-size-adjust : 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin : 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display : block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
    display        : inline-block; /* 1 */
    vertical-align : baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display : none;
    height  : 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
    display : none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background : transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline : 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
    border-bottom : 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight : bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style : italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
    font-size : 2em;
    margin    : 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background : #ff0;
    color      : #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size : 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size      : 75%;
    line-height    : 0;
    position       : relative;
    vertical-align : baseline;
}

sup {
    top : -0.5em;
}

sub {
    bottom : -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
    border : 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow : hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin : 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing : content-box;
    box-sizing      : content-box;
    height          : 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
    overflow : auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family : monospace, monospace;
    font-size   : 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
    color  : inherit; /* 1 */
    font   : inherit; /* 2 */
    margin : 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
    overflow : visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform : none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance : button; /* 2 */
    cursor             : pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor : default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border  : 0;
    padding : 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height : normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing : border-box; /* 1 */
    padding    : 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height : auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance : textfield; /* 1 */
    -moz-box-sizing    : content-box;
    -webkit-box-sizing : content-box; /* 2 */
    box-sizing         : content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance : none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border  : 1px solid #c0c0c0;
    margin  : 0 2px;
    padding : 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border  : 0; /* 1 */
    padding : 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow : auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight : bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse : collapse;
    border-spacing  : 0;
}

td,
th {
    padding : 0;
}

/* Centering whole webpage */
.wrapper {
    width  : 1170px;
    margin : auto;
}

/* Ables use absolute inside */
.wrapper, .row, [class*='span'] { position : relative }

/* Magic */
[class*='span'] {
    float   : left;
    display : block;
}

/* Clearfix */
.wrapper:before, .wrapper:after, .row:before, .row:after {
    clear   : both;
    content : ' ';
    display : table;
}

/* IE 6-7 */
.wrapper, .row { zoom : 1 }

/* Grid */
.span1 { width : 06.25% }
.span2 { width : 12.50% }
.span3 { width : 18.75% }
.span4 { width : 25.00% }
.span5 { width : 31.25% }
.span6 { width : 37.50% }
.span7 { width : 43.75% }
.span8 { width : 50.00% }
.span9 { width : 56.25% }
.span10 { width : 62.50% }
.span11 { width : 68.75% }
.span12 { width : 75.00% }
.span13 { width : 81.25% }
.span14 { width : 87.50% }
.span15 { width : 93.75% }
.span16 { width : 100.0% }

.offset1 { margin-left : 06.25% }
.offset2 { margin-left : 12.50% }
.offset3 { margin-left : 18.75% }
.offset4 { margin-left : 25.00% }
.offset5 { margin-left : 31.25% }
.offset6 { margin-left : 37.50% }
.offset7 { margin-left : 43.75% }
.offset8 { margin-left : 50.00% }
.offset9 { margin-left : 56.25% }
.offset10 { margin-left : 62.50% }
.offset11 { margin-left : 68.75% }
.offset12 { margin-left : 75.00% }
.offset13 { margin-left : 81.25% }
.offset14 { margin-left : 87.50% }
.offset15 { margin-left : 93.75% }
.offset16 { margin-left : 100.0% }

.centered {
    float      : none;
    margin     : auto;
    text-align : center;
}

/* Custom block for this makeup */
.span-well {
    width       : 79%;
    margin-left : 11%;
}
/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
    font-family : 'FontAwesome';
    src         : url('../fonts/fontawesome.eot?v=4.1.0');
    src         : url('../fonts/fontawesome.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight : normal;
    font-style  : normal;
}
.fa {
    display                 : inline-block;
    font-family             : FontAwesome;
    font-style              : normal;
    font-weight             : normal;
    line-height             : 1;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
    font-size      : 1.33333333em;
    line-height    : 0.75em;
    vertical-align : -15%;
}
.fa-2x {
    font-size : 2em;
}
.fa-3x {
    font-size : 3em;
}
.fa-4x {
    font-size : 4em;
}
.fa-5x {
    font-size : 5em;
}
.fa-fw {
    width      : 1.28571429em;
    text-align : center;
}
.fa-ul {
    padding-left    : 0;
    margin-left     : 2.14285714em;
    list-style-type : none;
}
.fa-ul > li {
    position : relative;
}
.fa-li {
    position   : absolute;
    left       : -2.14285714em;
    width      : 2.14285714em;
    top        : 0.14285714em;
    text-align : center;
}
.fa-li.fa-lg {
    left : -1.85714286em;
}
.fa-border {
    padding       : .2em .25em .15em;
    border        : solid 0.08em #eee;
    border-radius : .1em;
}
.pull-right {
    float : right;
}
.pull-left {
    float : left;
}
.fa.pull-left {
    margin-right : .3em;
}
.fa.pull-right {
    margin-left : .3em;
}
.fa-spin {
    -webkit-animation : spin 2s infinite linear;
    -moz-animation    : spin 2s infinite linear;
    -o-animation      : spin 2s infinite linear;
    animation         : spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform : rotate(0deg);
    }
    100% {
        -moz-transform : rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform : rotate(0deg);
    }
    100% {
        -webkit-transform : rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform : rotate(0deg);
    }
    100% {
        -o-transform : rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform : rotate(0deg);
        transform         : rotate(0deg);
    }
    100% {
        -webkit-transform : rotate(359deg);
        transform         : rotate(359deg);
    }
}
.fa-rotate-90 {
    filter            : progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform : rotate(90deg);
    -moz-transform    : rotate(90deg);
    -ms-transform     : rotate(90deg);
    -o-transform      : rotate(90deg);
    transform         : rotate(90deg);
}
.fa-rotate-180 {
    filter            : progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform : rotate(180deg);
    -moz-transform    : rotate(180deg);
    -ms-transform     : rotate(180deg);
    -o-transform      : rotate(180deg);
    transform         : rotate(180deg);
}
.fa-rotate-270 {
    filter            : progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform : rotate(270deg);
    -moz-transform    : rotate(270deg);
    -ms-transform     : rotate(270deg);
    -o-transform      : rotate(270deg);
    transform         : rotate(270deg);
}
.fa-flip-horizontal {
    filter            : progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform : scale(-1, 1);
    -moz-transform    : scale(-1, 1);
    -ms-transform     : scale(-1, 1);
    -o-transform      : scale(-1, 1);
    transform         : scale(-1, 1);
}
.fa-flip-vertical {
    filter            : progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform : scale(1, -1);
    -moz-transform    : scale(1, -1);
    -ms-transform     : scale(1, -1);
    -o-transform      : scale(1, -1);
    transform         : scale(1, -1);
}
.fa-stack {
    position       : relative;
    display        : inline-block;
    width          : 2em;
    height         : 2em;
    line-height    : 2em;
    vertical-align : middle;
}
.fa-stack-1x,
.fa-stack-2x {
    position   : absolute;
    left       : 0;
    width      : 100%;
    text-align : center;
}
.fa-stack-1x {
    line-height : inherit;
}
.fa-stack-2x {
    font-size : 2em;
}
.fa-inverse {
    color : #fff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
    content : "\f000";
}
.fa-music:before {
    content : "\f001";
}
.fa-search:before {
    content : "\f002";
}
.fa-envelope-o:before {
    content : "\f003";
}
.fa-heart:before {
    content : "\f004";
}
.fa-star:before {
    content : "\f005";
}
.fa-star-o:before {
    content : "\f006";
}
.fa-user:before {
    content : "\f007";
}
.fa-film:before {
    content : "\f008";
}
.fa-th-large:before {
    content : "\f009";
}
.fa-th:before {
    content : "\f00a";
}
.fa-th-list:before {
    content : "\f00b";
}
.fa-check:before {
    content : "\f00c";
}
.fa-times:before {
    content : "\f00d";
}
.fa-search-plus:before {
    content : "\f00e";
}
.fa-search-minus:before {
    content : "\f010";
}
.fa-power-off:before {
    content : "\f011";
}
.fa-signal:before {
    content : "\f012";
}
.fa-gear:before,
.fa-cog:before {
    content : "\f013";
}
.fa-trash-o:before {
    content : "\f014";
}
.fa-home:before {
    content : "\f015";
}
.fa-file-o:before {
    content : "\f016";
}
.fa-clock-o:before {
    content : "\f017";
}
.fa-road:before {
    content : "\f018";
}
.fa-download:before {
    content : "\f019";
}
.fa-arrow-circle-o-down:before {
    content : "\f01a";
}
.fa-arrow-circle-o-up:before {
    content : "\f01b";
}
.fa-inbox:before {
    content : "\f01c";
}
.fa-play-circle-o:before {
    content : "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
    content : "\f01e";
}
.fa-refresh:before {
    content : "\f021";
}
.fa-list-alt:before {
    content : "\f022";
}
.fa-lock:before {
    content : "\f023";
}
.fa-flag:before {
    content : "\f024";
}
.fa-headphones:before {
    content : "\f025";
}
.fa-volume-off:before {
    content : "\f026";
}
.fa-volume-down:before {
    content : "\f027";
}
.fa-volume-up:before {
    content : "\f028";
}
.fa-qrcode:before {
    content : "\f029";
}
.fa-barcode:before {
    content : "\f02a";
}
.fa-tag:before {
    content : "\f02b";
}
.fa-tags:before {
    content : "\f02c";
}
.fa-book:before {
    content : "\f02d";
}
.fa-bookmark:before {
    content : "\f02e";
}
.fa-print:before {
    content : "\f02f";
}
.fa-camera:before {
    content : "\f030";
}
.fa-font:before {
    content : "\f031";
}
.fa-bold:before {
    content : "\f032";
}
.fa-italic:before {
    content : "\f033";
}
.fa-text-height:before {
    content : "\f034";
}
.fa-text-width:before {
    content : "\f035";
}
.fa-align-left:before {
    content : "\f036";
}
.fa-align-center:before {
    content : "\f037";
}
.fa-align-right:before {
    content : "\f038";
}
.fa-align-justify:before {
    content : "\f039";
}
.fa-list:before {
    content : "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
    content : "\f03b";
}
.fa-indent:before {
    content : "\f03c";
}
.fa-video-camera:before {
    content : "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
    content : "\f03e";
}
.fa-pencil:before {
    content : "\f040";
}
.fa-map-marker:before {
    content : "\f041";
}
.fa-adjust:before {
    content : "\f042";
}
.fa-tint:before {
    content : "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
    content : "\f044";
}
.fa-share-square-o:before {
    content : "\f045";
}
.fa-check-square-o:before {
    content : "\f046";
}
.fa-arrows:before {
    content : "\f047";
}
.fa-step-backward:before {
    content : "\f048";
}
.fa-fast-backward:before {
    content : "\f049";
}
.fa-backward:before {
    content : "\f04a";
}
.fa-play:before {
    content : "\f04b";
}
.fa-pause:before {
    content : "\f04c";
}
.fa-stop:before {
    content : "\f04d";
}
.fa-forward:before {
    content : "\f04e";
}
.fa-fast-forward:before {
    content : "\f050";
}
.fa-step-forward:before {
    content : "\f051";
}
.fa-eject:before {
    content : "\f052";
}
.fa-chevron-left:before {
    content : "\f053";
}
.fa-chevron-right:before {
    content : "\f054";
}
.fa-plus-circle:before {
    content : "\f055";
}
.fa-minus-circle:before {
    content : "\f056";
}
.fa-times-circle:before {
    content : "\f057";
}
.fa-check-circle:before {
    content : "\f058";
}
.fa-question-circle:before {
    content : "\f059";
}
.fa-info-circle:before {
    content : "\f05a";
}
.fa-crosshairs:before {
    content : "\f05b";
}
.fa-times-circle-o:before {
    content : "\f05c";
}
.fa-check-circle-o:before {
    content : "\f05d";
}
.fa-ban:before {
    content : "\f05e";
}
.fa-arrow-left:before {
    content : "\f060";
}
.fa-arrow-right:before {
    content : "\f061";
}
.fa-arrow-up:before {
    content : "\f062";
}
.fa-arrow-down:before {
    content : "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
    content : "\f064";
}
.fa-expand:before {
    content : "\f065";
}
.fa-compress:before {
    content : "\f066";
}
.fa-plus:before {
    content : "\f067";
}
.fa-minus:before {
    content : "\f068";
}
.fa-asterisk:before {
    content : "\f069";
}
.fa-exclamation-circle:before {
    content : "\f06a";
}
.fa-gift:before {
    content : "\f06b";
}
.fa-leaf:before {
    content : "\f06c";
}
.fa-fire:before {
    content : "\f06d";
}
.fa-eye:before {
    content : "\f06e";
}
.fa-eye-slash:before {
    content : "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
    content : "\f071";
}
.fa-plane:before {
    content : "\f072";
}
.fa-calendar:before {
    content : "\f073";
}
.fa-random:before {
    content : "\f074";
}
.fa-comment:before {
    content : "\f075";
}
.fa-magnet:before {
    content : "\f076";
}
.fa-chevron-up:before {
    content : "\f077";
}
.fa-chevron-down:before {
    content : "\f078";
}
.fa-retweet:before {
    content : "\f079";
}
.fa-shopping-cart:before {
    content : "\f07a";
}
.fa-folder:before {
    content : "\f07b";
}
.fa-folder-open:before {
    content : "\f07c";
}
.fa-arrows-v:before {
    content : "\f07d";
}
.fa-arrows-h:before {
    content : "\f07e";
}
.fa-bar-chart-o:before {
    content : "\f080";
}
.fa-twitter-square:before {
    content : "\f081";
}
.fa-facebook-square:before {
    content : "\f082";
}
.fa-camera-retro:before {
    content : "\f083";
}
.fa-key:before {
    content : "\f084";
}
.fa-gears:before,
.fa-cogs:before {
    content : "\f085";
}
.fa-comments:before {
    content : "\f086";
}
.fa-thumbs-o-up:before {
    content : "\f087";
}
.fa-thumbs-o-down:before {
    content : "\f088";
}
.fa-star-half:before {
    content : "\f089";
}
.fa-heart-o:before {
    content : "\f08a";
}
.fa-sign-out:before {
    content : "\f08b";
}
.fa-linkedin-square:before {
    content : "\f08c";
}
.fa-thumb-tack:before {
    content : "\f08d";
}
.fa-external-link:before {
    content : "\f08e";
}
.fa-sign-in:before {
    content : "\f090";
}
.fa-trophy:before {
    content : "\f091";
}
.fa-github-square:before {
    content : "\f092";
}
.fa-upload:before {
    content : "\f093";
}
.fa-lemon-o:before {
    content : "\f094";
}
.fa-phone:before {
    content : "\f095";
}
.fa-square-o:before {
    content : "\f096";
}
.fa-bookmark-o:before {
    content : "\f097";
}
.fa-phone-square:before {
    content : "\f098";
}
.fa-twitter:before {
    content : "\f099";
}
.fa-facebook:before {
    content : "\f09a";
}
.fa-github:before {
    content : "\f09b";
}
.fa-unlock:before {
    content : "\f09c";
}
.fa-credit-card:before {
    content : "\f09d";
}
.fa-rss:before {
    content : "\f09e";
}
.fa-hdd-o:before {
    content : "\f0a0";
}
.fa-bullhorn:before {
    content : "\f0a1";
}
.fa-bell:before {
    content : "\f0f3";
}
.fa-certificate:before {
    content : "\f0a3";
}
.fa-hand-o-right:before {
    content : "\f0a4";
}
.fa-hand-o-left:before {
    content : "\f0a5";
}
.fa-hand-o-up:before {
    content : "\f0a6";
}
.fa-hand-o-down:before {
    content : "\f0a7";
}
.fa-arrow-circle-left:before {
    content : "\f0a8";
}
.fa-arrow-circle-right:before {
    content : "\f0a9";
}
.fa-arrow-circle-up:before {
    content : "\f0aa";
}
.fa-arrow-circle-down:before {
    content : "\f0ab";
}
.fa-globe:before {
    content : "\f0ac";
}
.fa-wrench:before {
    content : "\f0ad";
}
.fa-tasks:before {
    content : "\f0ae";
}
.fa-filter:before {
    content : "\f0b0";
}
.fa-briefcase:before {
    content : "\f0b1";
}
.fa-arrows-alt:before {
    content : "\f0b2";
}
.fa-group:before,
.fa-users:before {
    content : "\f0c0";
}
.fa-chain:before,
.fa-link:before {
    content : "\f0c1";
}
.fa-cloud:before {
    content : "\f0c2";
}
.fa-flask:before {
    content : "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
    content : "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
    content : "\f0c5";
}
.fa-paperclip:before {
    content : "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
    content : "\f0c7";
}
.fa-square:before {
    content : "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content : "\f0c9";
}
.fa-list-ul:before {
    content : "\f0ca";
}
.fa-list-ol:before {
    content : "\f0cb";
}
.fa-strikethrough:before {
    content : "\f0cc";
}
.fa-underline:before {
    content : "\f0cd";
}
.fa-table:before {
    content : "\f0ce";
}
.fa-magic:before {
    content : "\f0d0";
}
.fa-truck:before {
    content : "\f0d1";
}
.fa-pinterest:before {
    content : "\f0d2";
}
.fa-pinterest-square:before {
    content : "\f0d3";
}
.fa-google-plus-square:before {
    content : "\f0d4";
}
.fa-google-plus:before {
    content : "\f0d5";
}
.fa-money:before {
    content : "\f0d6";
}
.fa-caret-down:before {
    content : "\f0d7";
}
.fa-caret-up:before {
    content : "\f0d8";
}
.fa-caret-left:before {
    content : "\f0d9";
}
.fa-caret-right:before {
    content : "\f0da";
}
.fa-columns:before {
    content : "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
    content : "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
    content : "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
    content : "\f0de";
}
.fa-envelope:before {
    content : "\f0e0";
}
.fa-linkedin:before {
    content : "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
    content : "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
    content : "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
    content : "\f0e4";
}
.fa-comment-o:before {
    content : "\f0e5";
}
.fa-comments-o:before {
    content : "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
    content : "\f0e7";
}
.fa-sitemap:before {
    content : "\f0e8";
}
.fa-umbrella:before {
    content : "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
    content : "\f0ea";
}
.fa-lightbulb-o:before {
    content : "\f0eb";
}
.fa-exchange:before {
    content : "\f0ec";
}
.fa-cloud-download:before {
    content : "\f0ed";
}
.fa-cloud-upload:before {
    content : "\f0ee";
}
.fa-user-md:before {
    content : "\f0f0";
}
.fa-stethoscope:before {
    content : "\f0f1";
}
.fa-suitcase:before {
    content : "\f0f2";
}
.fa-bell-o:before {
    content : "\f0a2";
}
.fa-coffee:before {
    content : "\f0f4";
}
.fa-cutlery:before {
    content : "\f0f5";
}
.fa-file-text-o:before {
    content : "\f0f6";
}
.fa-building-o:before {
    content : "\f0f7";
}
.fa-hospital-o:before {
    content : "\f0f8";
}
.fa-ambulance:before {
    content : "\f0f9";
}
.fa-medkit:before {
    content : "\f0fa";
}
.fa-fighter-jet:before {
    content : "\f0fb";
}
.fa-beer:before {
    content : "\f0fc";
}
.fa-h-square:before {
    content : "\f0fd";
}
.fa-plus-square:before {
    content : "\f0fe";
}
.fa-angle-double-left:before {
    content : "\f100";
}
.fa-angle-double-right:before {
    content : "\f101";
}
.fa-angle-double-up:before {
    content : "\f102";
}
.fa-angle-double-down:before {
    content : "\f103";
}
.fa-angle-left:before {
    content : "\f104";
}
.fa-angle-right:before {
    content : "\f105";
}
.fa-angle-up:before {
    content : "\f106";
}
.fa-angle-down:before {
    content : "\f107";
}
.fa-desktop:before {
    content : "\f108";
}
.fa-laptop:before {
    content : "\f109";
}
.fa-tablet:before {
    content : "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
    content : "\f10b";
}
.fa-circle-o:before {
    content : "\f10c";
}
.fa-quote-left:before {
    content : "\f10d";
}
.fa-quote-right:before {
    content : "\f10e";
}
.fa-spinner:before {
    content : "\f110";
}
.fa-circle:before {
    content : "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
    content : "\f112";
}
.fa-github-alt:before {
    content : "\f113";
}
.fa-folder-o:before {
    content : "\f114";
}
.fa-folder-open-o:before {
    content : "\f115";
}
.fa-smile-o:before {
    content : "\f118";
}
.fa-frown-o:before {
    content : "\f119";
}
.fa-meh-o:before {
    content : "\f11a";
}
.fa-gamepad:before {
    content : "\f11b";
}
.fa-keyboard-o:before {
    content : "\f11c";
}
.fa-flag-o:before {
    content : "\f11d";
}
.fa-flag-checkered:before {
    content : "\f11e";
}
.fa-terminal:before {
    content : "\f120";
}
.fa-code:before {
    content : "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
    content : "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
    content : "\f123";
}
.fa-location-arrow:before {
    content : "\f124";
}
.fa-crop:before {
    content : "\f125";
}
.fa-code-fork:before {
    content : "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
    content : "\f127";
}
.fa-question:before {
    content : "\f128";
}
.fa-info:before {
    content : "\f129";
}
.fa-exclamation:before {
    content : "\f12a";
}
.fa-superscript:before {
    content : "\f12b";
}
.fa-subscript:before {
    content : "\f12c";
}
.fa-eraser:before {
    content : "\f12d";
}
.fa-puzzle-piece:before {
    content : "\f12e";
}
.fa-microphone:before {
    content : "\f130";
}
.fa-microphone-slash:before {
    content : "\f131";
}
.fa-shield:before {
    content : "\f132";
}
.fa-calendar-o:before {
    content : "\f133";
}
.fa-fire-extinguisher:before {
    content : "\f134";
}
.fa-rocket:before {
    content : "\f135";
}
.fa-maxcdn:before {
    content : "\f136";
}
.fa-chevron-circle-left:before {
    content : "\f137";
}
.fa-chevron-circle-right:before {
    content : "\f138";
}
.fa-chevron-circle-up:before {
    content : "\f139";
}
.fa-chevron-circle-down:before {
    content : "\f13a";
}
.fa-html5:before {
    content : "\f13b";
}
.fa-css3:before {
    content : "\f13c";
}
.fa-anchor:before {
    content : "\f13d";
}
.fa-unlock-alt:before {
    content : "\f13e";
}
.fa-bullseye:before {
    content : "\f140";
}
.fa-ellipsis-h:before {
    content : "\f141";
}
.fa-ellipsis-v:before {
    content : "\f142";
}
.fa-rss-square:before {
    content : "\f143";
}
.fa-play-circle:before {
    content : "\f144";
}
.fa-ticket:before {
    content : "\f145";
}
.fa-minus-square:before {
    content : "\f146";
}
.fa-minus-square-o:before {
    content : "\f147";
}
.fa-level-up:before {
    content : "\f148";
}
.fa-level-down:before {
    content : "\f149";
}
.fa-check-square:before {
    content : "\f14a";
}
.fa-pencil-square:before {
    content : "\f14b";
}
.fa-external-link-square:before {
    content : "\f14c";
}
.fa-share-square:before {
    content : "\f14d";
}
.fa-compass:before {
    content : "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
    content : "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
    content : "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
    content : "\f152";
}
.fa-euro:before,
.fa-eur:before {
    content : "\f153";
}
.fa-gbp:before {
    content : "\f154";
}
.fa-dollar:before,
.fa-usd:before {
    content : "\f155";
}
.fa-rupee:before,
.fa-inr:before {
    content : "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
    content : "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
    content : "\f158";
}
.fa-won:before,
.fa-krw:before {
    content : "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
    content : "\f15a";
}
.fa-file:before {
    content : "\f15b";
}
.fa-file-text:before {
    content : "\f15c";
}
.fa-sort-alpha-asc:before {
    content : "\f15d";
}
.fa-sort-alpha-desc:before {
    content : "\f15e";
}
.fa-sort-amount-asc:before {
    content : "\f160";
}
.fa-sort-amount-desc:before {
    content : "\f161";
}
.fa-sort-numeric-asc:before {
    content : "\f162";
}
.fa-sort-numeric-desc:before {
    content : "\f163";
}
.fa-thumbs-up:before {
    content : "\f164";
}
.fa-thumbs-down:before {
    content : "\f165";
}
.fa-youtube-square:before {
    content : "\f166";
}
.fa-youtube:before {
    content : "\f167";
}
.fa-xing:before {
    content : "\f168";
}
.fa-xing-square:before {
    content : "\f169";
}
.fa-youtube-play:before {
    content : "\f16a";
}
.fa-dropbox:before {
    content : "\f16b";
}
.fa-stack-overflow:before {
    content : "\f16c";
}
.fa-instagram:before {
    content : "\f16d";
}
.fa-flickr:before {
    content : "\f16e";
}
.fa-adn:before {
    content : "\f170";
}
.fa-bitbucket:before {
    content : "\f171";
}
.fa-bitbucket-square:before {
    content : "\f172";
}
.fa-tumblr:before {
    content : "\f173";
}
.fa-tumblr-square:before {
    content : "\f174";
}
.fa-long-arrow-down:before {
    content : "\f175";
}
.fa-long-arrow-up:before {
    content : "\f176";
}
.fa-long-arrow-left:before {
    content : "\f177";
}
.fa-long-arrow-right:before {
    content : "\f178";
}
.fa-apple:before {
    content : "\f179";
}
.fa-windows:before {
    content : "\f17a";
}
.fa-android:before {
    content : "\f17b";
}
.fa-linux:before {
    content : "\f17c";
}
.fa-dribbble:before {
    content : "\f17d";
}
.fa-skype:before {
    content : "\f17e";
}
.fa-foursquare:before {
    content : "\f180";
}
.fa-trello:before {
    content : "\f181";
}
.fa-female:before {
    content : "\f182";
}
.fa-male:before {
    content : "\f183";
}
.fa-gittip:before {
    content : "\f184";
}
.fa-sun-o:before {
    content : "\f185";
}
.fa-moon-o:before {
    content : "\f186";
}
.fa-archive:before {
    content : "\f187";
}
.fa-bug:before {
    content : "\f188";
}
.fa-vk:before {
    content : "\f189";
}
.fa-weibo:before {
    content : "\f18a";
}
.fa-renren:before {
    content : "\f18b";
}
.fa-pagelines:before {
    content : "\f18c";
}
.fa-stack-exchange:before {
    content : "\f18d";
}
.fa-arrow-circle-o-right:before {
    content : "\f18e";
}
.fa-arrow-circle-o-left:before {
    content : "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
    content : "\f191";
}
.fa-dot-circle-o:before {
    content : "\f192";
}
.fa-wheelchair:before {
    content : "\f193";
}
.fa-vimeo-square:before {
    content : "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
    content : "\f195";
}
.fa-plus-square-o:before {
    content : "\f196";
}
.fa-space-shuttle:before {
    content : "\f197";
}
.fa-slack:before {
    content : "\f198";
}
.fa-envelope-square:before {
    content : "\f199";
}
.fa-wordpress:before {
    content : "\f19a";
}
.fa-openid:before {
    content : "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
    content : "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
    content : "\f19d";
}
.fa-yahoo:before {
    content : "\f19e";
}
.fa-google:before {
    content : "\f1a0";
}
.fa-reddit:before {
    content : "\f1a1";
}
.fa-reddit-square:before {
    content : "\f1a2";
}
.fa-stumbleupon-circle:before {
    content : "\f1a3";
}
.fa-stumbleupon:before {
    content : "\f1a4";
}
.fa-delicious:before {
    content : "\f1a5";
}
.fa-digg:before {
    content : "\f1a6";
}
.fa-pied-piper-square:before,
.fa-pied-piper:before {
    content : "\f1a7";
}
.fa-pied-piper-alt:before {
    content : "\f1a8";
}
.fa-drupal:before {
    content : "\f1a9";
}
.fa-joomla:before {
    content : "\f1aa";
}
.fa-language:before {
    content : "\f1ab";
}
.fa-fax:before {
    content : "\f1ac";
}
.fa-building:before {
    content : "\f1ad";
}
.fa-child:before {
    content : "\f1ae";
}
.fa-paw:before {
    content : "\f1b0";
}
.fa-spoon:before {
    content : "\f1b1";
}
.fa-cube:before {
    content : "\f1b2";
}
.fa-cubes:before {
    content : "\f1b3";
}
.fa-behance:before {
    content : "\f1b4";
}
.fa-behance-square:before {
    content : "\f1b5";
}
.fa-steam:before {
    content : "\f1b6";
}
.fa-steam-square:before {
    content : "\f1b7";
}
.fa-recycle:before {
    content : "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
    content : "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
    content : "\f1ba";
}
.fa-tree:before {
    content : "\f1bb";
}
.fa-spotify:before {
    content : "\f1bc";
}
.fa-deviantart:before {
    content : "\f1bd";
}
.fa-soundcloud:before {
    content : "\f1be";
}
.fa-database:before {
    content : "\f1c0";
}
.fa-file-pdf-o:before {
    content : "\f1c1";
}
.fa-file-word-o:before {
    content : "\f1c2";
}
.fa-file-excel-o:before {
    content : "\f1c3";
}
.fa-file-powerpoint-o:before {
    content : "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
    content : "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
    content : "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
    content : "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
    content : "\f1c8";
}
.fa-file-code-o:before {
    content : "\f1c9";
}
.fa-vine:before {
    content : "\f1ca";
}
.fa-codepen:before {
    content : "\f1cb";
}
.fa-jsfiddle:before {
    content : "\f1cc";
}
.fa-life-bouy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
    content : "\f1cd";
}
.fa-circle-o-notch:before {
    content : "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
    content : "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
    content : "\f1d1";
}
.fa-git-square:before {
    content : "\f1d2";
}
.fa-git:before {
    content : "\f1d3";
}
.fa-hacker-news:before {
    content : "\f1d4";
}
.fa-tencent-weibo:before {
    content : "\f1d5";
}
.fa-qq:before {
    content : "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
    content : "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
    content : "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
    content : "\f1d9";
}
.fa-history:before {
    content : "\f1da";
}
.fa-circle-thin:before {
    content : "\f1db";
}
.fa-header:before {
    content : "\f1dc";
}
.fa-paragraph:before {
    content : "\f1dd";
}
.fa-sliders:before {
    content : "\f1de";
}
.fa-share-alt:before {
    content : "\f1e0";
}
.fa-share-alt-square:before {
    content : "\f1e1";
}
.fa-bomb:before {
    content : "\f1e2";
}
/* Fonts */
@font-face {
    font-family : 'OpenSans';
    src         : url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight : normal;
    font-style  : normal;
}
@font-face {
    font-family : 'PTSans-Narrow';
    src         : url('../fonts/PTSansNarrow.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSansNarrow.woff') format('woff'),
    url('../fonts/PTSansNarrow.ttf') format('truetype'),
    url('../fonts/PTSansNarrow.svg#PTSans-Narrow') format('svg');
    font-weight : normal;
    font-style  : normal;
}
@font-face {
    font-family : 'ShlapakScript';
    src         : url('../fonts/ShlapakScript.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ShlapakScript.woff') format('woff'),
    url('../fonts/ShlapakScript.ttf') format('truetype'),
    url('../fonts/ShlapakScript.svg#ShlapakScript') format('svg');
    font-weight : normal;
    font-style  : normal;
}

/* Human friendly css box model */
* { box-sizing : border-box }

/* Root font and background */
body, .wrapper { background : #f8f8f8 }
body {
    font-family : PTSans-Narrow, sans-serif;
    font-size   : 18px;
}

/* Logo style */
.company { font-family : ShlapakScript, sans-serif }

/* Signs for banner usw */
.sign {
    position      : absolute;
    width         : 40px;
    height        : 40px;
    margin-top    : -20px;
    font-size     : 20px;
    line-height   : 40px;
    color         : #1aa156;
    text-align    : center;
    border        : 2px solid;
    border-radius : 20px;
    top           : 50%; /* For old browsers */
    top           : calc(50% - 20px);
    cursor        : pointer;
}
.sign.left { right : auto; left : 40px; }
.sign.right { right : 40px; left : auto; }
.sign:hover { color : #fff }

/* Green wave of triangles */
.wave {
    width      : 100%;
    height     : 6px;
    background : url('../img/wave.png') repeat-x;
    position   : absolute;
    bottom     : -7px; /* img + border (6px + 1px) */
    left       : 0;
    z-index    : 1;
}

/* Block with two icons and not full width */
.span-well {
    margin-top    : 2rem;
    margin-bottom : 2rem;
    background    : #fff;
    text-align    : center;
}
.span-well .icon {
    background : #000;
    color      : #1aa156;
}
.span-well .head { color : #1aa156 }
.span-well .btn {
    color      : #fff;
    background : #1aa156;
    float      : right;
    border     : none;
    font-size  : 1rem;
}
.nav {
    border-top    : 5px solid #1aa156;
    border-bottom : 1px solid #1aa156;
    background    : #171b25;
    color         : #fafafa;
    line-height   : 3.5rem;
    padding       : 0 8%
}

.nav a {
    text-decoration : none;
    color           : inherit;
}
.nav .head { font-size : 2.5rem }
.nav .link a {
    border  : 2px solid #064723;
    padding : .5rem 1rem;
    cursor  : pointer;
}
.nav .link.active a, .nav .link a:hover { border : 2px solid #1aa156 }

/* Positioning */
.nav .link:nth-child(1) { margin-left : 6% }
.nav .link:nth-child(2) { margin-left : 8% }
.nav .head { margin-left : 7% }
.nav .link:nth-child(4) { margin-left : 6% }
.nav .link:nth-child(5) { margin-left : 6% }

.triangle {
    position     : absolute;
    left         : 35%; /* For old browsers */
    left         : calc(50% - 185px);
    width        : 0;
    height       : 0;
    border-style : solid;
    border-width : 30px 185px 0 185px;
    border-color : #171b25 transparent transparent transparent;
    bottom       : -20px;
    z-index      : 11;
}
/* Block with company name */
.nameagain {
    border-top : 3px solid #1aa156;
    background : #000;
    color      : #fff;
    padding    : 5rem 0;
    text-align : center;
}
.nameagain .company { font-size : 3rem }
.nameagain .description { color : #1aa156 }

/* Example of customer tweet */
.tweet {
    background : #1aa156;
    color      : #fff;
    padding    : 5rem 0;
}
.tweet .icon {
    text-align : right;
    padding    : 0 1rem;
    color      : #000;
}
.tweet .text { text-align : left }
.tweet .wave { bottom : -6px; /* height of wave */ }

.footer {
    text-align : center;
    background : #fff;
}
.footer .icons { margin-top : 3rem }
.footer .icons .icon {
    display        : inline-block;
    width          : 40px;
    height         : 40px;
    line-height    : 40px;
    font-size      : 30px;
    background     : #1aa156;
    color          : #1d7243;
    vertical-align : middle;
}
.footer .icons .fa-facebook {
    background : #000;
    color      : #fff;
}
.footer .copyright {
    font-size : .75rem;
    color     : #1aa156;
    margin    : 2rem inherit;
}
.page-main .banner {
    background : url('../img/main/banner.png');
    height     : 420px;
}

/* Colorize banner text */
.page-main .banner .row { margin-bottom : .5rem }
.page-main .banner .row:nth-of-type(1) .text {
    background : #fff;
    background : rgba(255, 255, 255, .75);
    color      : #1aa156;
    margin-top : 100px;
}
.page-main .banner .row:nth-of-type(2) .text {
    background : #1aa156;
    background : rgba(26, 161, 86, .75);
    color      : #fff;
}
.page-main .banner .row:nth-of-type(3) .text {
    background : #000;
    background : rgba(0, 0, 0, .75);
    color      : #fff;
}
.page-main .banner .text {
    font-size : 30px;
    padding   : .5rem;
}

.page-main .banner .want {
    font-size       : 18px;
    background      : #1aa156;
    text-decoration : none;
    padding         : .7rem 1.2rem;
    color           : #fff;
    margin-top      : 50px;
}
.page-main .order {
    background     : #000;
    color          : #fff;
    padding-bottom : 3rem;
    text-align     : center;
}
.page-main .order .head {
    font-size : 1.6rem;
    margin    : 1.5rem 0;
}
.page-main .order .want {
    font-size       : 16px;
    border          : 2px solid #064723;
    text-decoration : none;
    padding         : .7rem 1.2rem;
    color           : #fff;
}
.page-main .order .active, .page-main .order .want:hover {
    background   : #1aa156;
    border-color : #1aa156;
}
.page-main .order .description {
    padding   : 0 1rem 1rem;
    font-size : 1rem;
}
/* Custom well block */
.page-main .write, .page-main .write * {
    line-height : 80px;
    height      : 80px
}
.page-main .write .icon { font-size : 40px; }
.page-main .write .icon, .page-main .write .btn { width : 80px }

.page-main .review .content {
    text-align : center;
    padding    : 50px 20% 100px; /* 100px + 50px == height of card */
    background : #1aa156;
    color      : #fff;
}
.page-main .review .card {
    position : absolute;
    bottom   : 1rem;
    left     : 45%; /* For old browsers */
    left     : calc(50% - 50px); /* 50% – card width/2 */
    z-index  : 1;
    width    : 100px;
    height   : 150px;
}
.page-main .review .name, .page-main .review .dept {
    margin    : 0;
    font-size : .8rem;
}
.page-main .review .photo { width : 100px }
.page-main .review .name { color : #fff }
.page-main .review .dept { color : #1aa156 }

/* .info height - wave height (80px - 6px) */
.page-main .review .wave { bottom : 74px }
.page-main .review .info {
    background : #000;
    height     : 80px;
}

.page-main .review .sign {
    width         : 30px;
    height        : 30px;
    font-size     : 12px;
    line-height   : 27px;
    color         : #fff;
    text-align    : center;
    border        : 2px solid;
    border-radius : 30px;
    top           : 50%;
}
.page-main .review .sign:hover { color : #1aa156 }
.page-main .clients .name {
    text-align : left;
    color      : #1aa156;
    margin     : 2rem;
}
.page-main .clients .list {
    display        : inline-block;
    text-align     : center;
    width          : 83%;
    height         : 80px;
    vertical-align : middle;
    background     : #f8f8f8;
    margin-bottom  : 1rem;
}
.page-main .clients .list .item {
    display    : inline;
    max-height : 60px;
    /* 13% * 5 + 3% * 2 * 5 <= 100% */
    margin     : 10px 3%;
    max-width  : 13%;
}
.page-main .clients .sign {
    display       : block;
    border-radius : 0;
    height        : 80px;
    line-height   : 80px;
    color         : #fff;
    background    : #000;
    border        : none;
    top           : 20px;
}
.page-main .clients .sign:hover { background : #1aa156 }
/**
 * If menu list height smaller than menu items set bg to #000 (menu bg)
 * Else set bg color to #f1f1f1 (items bg)
 *
 * Or use js to equalize heights both of them.
 */
.page-pizza .menu .span-well { background : #000 }

/* List of menu groups */
.page-pizza .list {
    list-style  : none;
    padding     : 0;
    margin      : 0;
    line-height : 50px;
    background  : #000;
}
.page-pizza .list .item a {
    text-decoration : none;
    color           : #fff;
}
.page-pizza .list .item {
    cursor : pointer;
    color  : #fff;
}
.page-pizza .list .item:hover, .page-pizza .menu .list .item.active { background : #1aa156 }
.page-pizza .list .item.disabled { background : #000 }
.page-pizza .list .item.head {
    background     : #1e2432;
    text-transform : uppercase;
}
.page-pizza .menu .name .head {
    color      : #1aa156;
    font-size  : 1.1rem;
    margin-top : .4rem;
}

/* List of menu groups */
.page-pizza .content { text-align : left }
.page-pizza .content thead { background : #fff }
.page-pizza .content tbody { background : #f1f1f1 }
.page-pizza .content thead tr { height : 50px }
.page-pizza .content tbody tr { height : 100px }
.page-pizza .content td, .page-pizza .content th { padding : 0 1rem }

/* Custom widths to grid */
.page-pizza .content th:nth-child(1) { width : 60% }
.page-pizza .content th:nth-child(2) { width : 20% }
.page-pizza .content th:nth-child(3) { width : 20% }

.page-pizza .content .price {
    font-size      : 1rem;
    color          : #1aa156;
    text-align     : left;
    vertical-align : middle;
}
.page-pizza .content .price .btn {
    font-size  : .75rem;
    width      : 60%;
    padding    : .4rem;
    background : #000;
}
.page-pizza .name .description { font-size : .9rem; }
.page-pizza .content .price .btn.active, .page-pizza .content .price .btn:hover { background : #1aa156 }
.page-pizza .news, .page-pizza .news * {
    vertical-align : middle;
    height         : 80px;
    line-height    : 80px;
}
.page-pizza .news .icon { padding : 20px }
.page-pizza .news .icon, .page-pizza .news .btn { width : 80px }
.page-pizza .news .text {
    font-size  : 1rem;
    text-align : left;
}
.page-pizza .news .btn { line-height : 1rem }
.page-contacts .questions {
    background : #adadad;
    color      : #fff;
}
.page-contacts .questions .text {
    line-height : 100px;
    font-size   : 1.5rem;
    text-align  : center;
}
.page-contacts .autofind, .page-contacts .autofind * {
    line-height : 80px;
    height      : 80px
}
.page-contacts .autofind .icon { font-size : 40px; }
.page-contacts .autofind .icon, .page-contacts .autofind .btn { width : 80px }
.page-contacts #map { height : 265px }
.page-contacts #map * { line-height : 1rem }
/* Global backgrounds */
.page-contacts .form .span-well {
    text-align : left;
    background : #f8f8f8;
}
.page-contacts form
,.page-contacts .us
,.page-contacts .contacts
{
    background : #fff;
    padding    : 1rem;
    box-shadow : 0 0 2px #aaa;
}

/* Make offset between grids smaller */
.page-contacts form { width : 73% }
.page-contacts .form-right {
    margin-left : 3%;
    width       : 22%;
}

/* Styling form, inputs, usw */
.page-contacts .input, .page-contacts .textarea {
    box-shadow    : 0 0 2px #aaa inset;
    margin-bottom : 1rem;
    padding       : 0 1.5rem;
    height        : 40px;
}
.page-contacts .input input { height : 36px }
.page-contacts .input input
,.page-contacts .textarea textarea
{
    line-height : 36px;
    border      : none;
    text-align  : left;
    outline     : none;
    margin-top  : 1px;
    font-size   : .75rem;
    resize      : none;
}
.page-contacts .textarea { height : 115px }
.page-contacts .textarea textarea { height : 113px; font-size: 1rem; }
.page-contacts .form .head, .page-contacts .fa { color : #1aa156 }
.page-contacts form .fa {
    font-size : 1rem;
    position  : absolute;
    top       : .75rem;
    left      : 1rem;
}
.page-contacts .submit button {
    background : #000;
    color      : #fff;
    border     : none;
    padding    : .8rem;
    font-size  : .7rem;
}
.page-contacts .submit button:hover { background : #1aa156 }

/* Right column */
.page-contacts .us { margin-bottom : 2rem }
.page-contacts .us .head, .page-contacts .contacts .head {
    padding-bottom : 1rem;
    border-bottom  : 1px solid #ddd;
}

.page-contacts .us .address
,.page-contacts .contacts .data
,.page-contacts .form .contacts .keywords
{ font-size : .7rem }
.page-contacts .contacts .data { margin-bottom : 2rem; }
.page-contacts .contacts p { margin : .3rem 0 }
.page-contacts .contacts .data span { color : #1aa156 }
.page-contacts .contacts .data a {
    color           : #9b8939;
    text-decoration : none;
}
