.page-contacts .autofind, .page-contacts .autofind * {
    line-height : 80px;
    height      : 80px
}
.page-contacts .autofind .icon { font-size : 40px; }
.page-contacts .autofind .icon, .page-contacts .autofind .btn { width : 80px }
