/* Global backgrounds */
.page-contacts .form .span-well {
    text-align : left;
    background : #f8f8f8;
}
.page-contacts form
,.page-contacts .us
,.page-contacts .contacts
{
    background : #fff;
    padding    : 1rem;
    box-shadow : 0 0 2px #aaa;
}

/* Make offset between grids smaller */
.page-contacts form { width : 73% }
.page-contacts .form-right {
    margin-left : 3%;
    width       : 22%;
}

/* Styling form, inputs, usw */
.page-contacts .input, .page-contacts .textarea {
    box-shadow    : 0 0 2px #aaa inset;
    margin-bottom : 1rem;
    padding       : 0 1.5rem;
    height        : 40px;
}

/* For Opera Presto fix (doesn't support line-height) */
.page-contacts .input input { height : 36px }

.page-contacts .input input
,.page-contacts .textarea textarea
{
    line-height : 36px;
    border      : none;
    text-align  : left;
    outline     : none;
    margin-top  : 1px;
    font-size   : .75rem;
    resize      : none;
}
.page-contacts .textarea { height : 115px }
.page-contacts .textarea textarea { height : 113px; line-height: 1rem; }
.page-contacts .form .head, .page-contacts .fa { color : #1aa156 }
.page-contacts form .fa {
    font-size : 1rem;
    position  : absolute;
    top       : .75rem;
    left      : 1rem;
}
.page-contacts .submit button {
    background : #000;
    color      : #fff;
    border     : none;
    padding    : .8rem;
    font-size  : .7rem;
}
.page-contacts .submit button:hover { background : #1aa156 }

/* Right column */
.page-contacts .us { margin-bottom : 2rem }
.page-contacts .us .head, .page-contacts .contacts .head {
    padding-bottom : 1rem;
    border-bottom  : 1px solid #ddd;
}

.page-contacts .us .address
,.page-contacts .contacts .data
,.page-contacts .form .contacts .keywords
{ font-size : .7rem }
.page-contacts .contacts .data { margin-bottom : 2rem; }
.page-contacts .contacts p { margin : .3rem 0 }
.page-contacts .contacts .data span { color : #1aa156 }
.page-contacts .contacts .data a {
    color           : #9b8939;
    text-decoration : none;
}
