/* Fonts */
@font-face {
    font-family : 'OpenSans';
    src         : url('../../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/OpenSans.woff') format('woff'),
    url('../../fonts/OpenSans.ttf') format('truetype'),
    url('../../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight : normal;
    font-style  : normal;
}
@font-face {
    font-family : 'PTSans-Narrow';
    src         : url('../../fonts/PTSansNarrow.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/PTSansNarrow.woff') format('woff'),
    url('../../fonts/PTSansNarrow.ttf') format('truetype'),
    url('../../fonts/PTSansNarrow.svg#PTSans-Narrow') format('svg');
    font-weight : normal;
    font-style  : normal;
}
@font-face {
    font-family : 'ShlapakScript';
    src         : url('../../fonts/ShlapakScript.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ShlapakScript.woff') format('woff'),
    url('../../fonts/ShlapakScript.ttf') format('truetype'),
    url('../../fonts/ShlapakScript.svg#ShlapakScript') format('svg');
    font-weight : normal;
    font-style  : normal;
}

/* Human friendly css box model */
* { box-sizing : border-box }

/* Root font and background */
body, .wrapper { background : #f8f8f8 }
body {
    font-family : PTSans-Narrow, sans-serif;
    font-size   : 18px;
}

/* Logo style */
.company { font-family : ShlapakScript, sans-serif }

/* Signs for banner usw */
.sign {
    position      : absolute;
    width         : 40px;
    height        : 40px;
    margin-top    : -20px;
    font-size     : 20px;
    line-height   : 40px;
    color         : #1aa156;
    text-align    : center;
    border        : 2px solid;
    border-radius : 20px;
    top           : 50%; /* For old browsers */
    top           : calc(50% - 20px);
    cursor        : pointer;
}
.sign.left { right : auto; left : 40px; }
.sign.right { right : 40px; left : auto; }
.sign:hover { color : #fff }

/* Green wave of triangles */
.wave {
    width      : 100%;
    height     : 6px;
    background : url('../../img/wave.png') repeat-x;
    position   : absolute;
    bottom     : -7px; /* img + border (6px + 1px) */
    left       : 0;
    z-index    : 1;
}

/* Block with two icons and not full width */
.span-well {
    margin-top    : 2rem;
    margin-bottom : 2rem;
    background    : #fff;
    text-align    : center;
}
.span-well .icon {
    background : #000;
    color      : #1aa156;
}
.span-well .head { color : #1aa156 }
.span-well .btn {
    color      : #fff;
    background : #1aa156;
    float      : right;
    border     : none;
    font-size  : 1rem;
}
