/* Block with company name */
.nameagain {
    border-top : 3px solid #1aa156;
    background : #000;
    color      : #fff;
    padding    : 5rem 0;
    text-align : center;
}
.nameagain .company { font-size : 3rem }
.nameagain .description { color : #1aa156 }

/* Example of customer tweet */
.tweet {
    background : #1aa156;
    color      : #fff;
    padding    : 5rem 0;
}
.tweet .icon {
    text-align : right;
    padding    : 0 1rem;
    color      : #000;
}
.tweet .text { text-align : left }
.tweet .wave { bottom : -6px; /* height of wave */ }

.footer {
    text-align : center;
    background : #fff;
}
.footer .icons { margin-top : 3rem }
.footer .icons .icon {
    display        : inline-block;
    width          : 40px;
    height         : 40px;
    line-height    : 40px;
    font-size      : 30px;
    background     : #1aa156;
    color          : #1d7243;
    vertical-align : middle;
}
.footer .icons .fa-facebook {
    background : #000;
    color      : #fff;
}
.footer .copyright {
    font-size : .75rem;
    color     : #1aa156;
    margin    : 2rem inherit;
}
