.nav {
    border-top    : 5px solid #1aa156;
    border-bottom : 1px solid #1aa156;
    background    : #171b25;
    color         : #fafafa;
    line-height   : 3.5rem;
    padding       : 0 8%
}

.nav a {
    text-decoration : none;
    color           : inherit;
}
.nav .head { font-size : 2.5rem }
.nav .link a {
    border  : 2px solid #064723;
    padding : .5rem 1rem;
    cursor  : pointer;
}
.nav .link.active a, .nav .link a:hover { border : 2px solid #1aa156 }

/* Positioning */
.nav .link:nth-child(1) { margin-left : 6% }
.nav .link:nth-child(2) { margin-left : 8% }
.nav .head { margin-left : 7% }
.nav .link:nth-child(4) { margin-left : 6% }
.nav .link:nth-child(5) { margin-left : 6% }

.triangle {
    position     : absolute;
    left         : 35%; /* For old browsers */
    left         : calc(50% - 185px);
    width        : 0;
    height       : 0;
    border-style : solid;
    border-width : 30px 185px 0 185px;
    border-color : #171b25 transparent transparent transparent;
    bottom       : -20px;
    z-index      : 11;
}
