/**
 * If menu list height smaller than menu items set bg to #000 (menu bg)
 * Else set bg color to #f1f1f1 (items bg)
 *
 * Or use js to equalize heights both of them.
 */
.page-pizza .menu .span-well { background : #000 }

/* List of menu groups */
.page-pizza .list {
    list-style  : none;
    padding     : 0;
    margin      : 0;
    line-height : 50px;
    background  : #000;
}
.page-pizza .list .item a {
    text-decoration : none;
    color           : #fff;
}
.page-pizza .list .item {
    cursor : pointer;
    color  : #fff;
}
.page-pizza .list .item:hover, .page-pizza .menu .list .item.active { background : #1aa156 }
.page-pizza .list .item.disabled { background : #000 }
.page-pizza .list .item.head {
    background     : #1e2432;
    text-transform : uppercase;
}
.page-pizza .menu .name .head {
    color      : #1aa156;
    font-size  : 1.1rem;
    margin-top : .4rem;
}

/* List of menu groups */
.page-pizza .content { text-align : left }
.page-pizza .content thead { background : #fff }
.page-pizza .content tbody { background : #f1f1f1 }
.page-pizza .content thead tr { height : 50px }
.page-pizza .content tbody tr { height : 100px }
.page-pizza .content td, .page-pizza .content th { padding : 0 1rem }

/* Custom widths to grid */
.page-pizza .content th:nth-child(1) { width : 60% }
.page-pizza .content th:nth-child(2) { width : 20% }
.page-pizza .content th:nth-child(3) { width : 20% }

.page-pizza .content .price {
    font-size      : 1rem;
    color          : #1aa156;
    text-align     : left;
    vertical-align : middle;
}
.page-pizza .content .price .btn {
    font-size  : .75rem;
    width      : 60%;
    padding    : .4rem;
    background : #000;
}
.page-pizza .name .description { font-size : .9rem; }
.page-pizza .content .price .btn.active, .page-pizza .content .price .btn:hover { background : #1aa156 }
