.page-pizza .news, .page-pizza .news * {
    vertical-align : middle;
    height         : 80px;
    line-height    : 80px;
}
.page-pizza .news .icon { padding : 20px }
.page-pizza .news .icon, .page-pizza .news .btn { width : 80px }
.page-pizza .news .text {
    font-size  : 1rem;
    text-align : left;
}
.page-pizza .news .btn { line-height : 1rem }
