.page-main .banner {
    background : url('../../img/main/banner.png');
    height     : 420px;
}

/* Colorize banner text */
.page-main .banner .row { margin-bottom : .5rem }
.page-main .banner .row:nth-of-type(1) .text {
    background : #fff;
    background : rgba(255, 255, 255, .75);
    color      : #1aa156;
    margin-top : 100px;
}
.page-main .banner .row:nth-of-type(2) .text {
    background : #1aa156;
    background : rgba(26, 161, 86, .75);
    color      : #fff;
}
.page-main .banner .row:nth-of-type(3) .text {
    background : #000;
    background : rgba(0, 0, 0, .75);
    color      : #fff;
}
.page-main .banner .text {
    font-size : 30px;
    padding   : .5rem;
}

.page-main .banner .want {
    font-size       : 18px;
    background      : #1aa156;
    text-decoration : none;
    padding         : .7rem 1.2rem;
    color           : #fff;
    margin-top      : 50px;
}
