.page-main .clients .name {
    text-align : left;
    color      : #1aa156;
    margin     : 2rem;
}
.page-main .clients .list {
    display        : inline-block;
    text-align     : center;
    width          : 83%;
    height         : 80px;
    vertical-align : middle;
    background     : #f8f8f8;
    margin-bottom  : 1rem;
}
.page-main .clients .list .item {
    display    : inline;
    max-height : 60px;
    /* 13% * 5 + 3% * 2 * 5 <= 100% */
    margin     : 10px 3%;
    max-width  : 13%;
}
.page-main .clients .sign {
    display       : block;
    border-radius : 0;
    height        : 80px;
    line-height   : 80px;
    color         : #fff;
    background    : #000;
    border        : none;
    top           : 20px;
}
.page-main .clients .sign:hover { background : #1aa156 }
