.page-main .order {
    background     : #000;
    color          : #fff;
    padding-bottom : 3rem;
    text-align     : center;
}
.page-main .order .head {
    font-size : 1.6rem;
    margin    : 1.5rem 0;
}
.page-main .order .want {
    font-size       : 16px;
    border          : 2px solid #064723;
    text-decoration : none;
    padding         : .7rem 1.2rem;
    color           : #fff;
}
.page-main .order .active, .page-main .order .want:hover {
    background   : #1aa156;
    border-color : #1aa156;
}
.page-main .order .description {
    padding   : 0 1rem 1rem;
    font-size : 1rem;
}
