/* Custom well block */
.page-main .write, .page-main .write * {
    line-height : 80px;
    height      : 80px
}
.page-main .write .icon { font-size : 40px; }
.page-main .write .icon, .page-main .write .btn { width : 80px }

.page-main .review .content {
    text-align : center;
    padding    : 50px 20% 100px; /* 100px + 50px == height of card */
    background : #1aa156;
    color      : #fff;
}
.page-main .review .card {
    position : absolute;
    bottom   : 1rem;
    left     : 45%; /* For old browsers */
    left     : calc(50% - 50px); /* 50% – card width/2 */
    z-index  : 1;
    width    : 100px;
    height   : 150px;
}
.page-main .review .name, .page-main .review .dept {
    margin    : 0;
    font-size : .8rem;
}
.page-main .review .photo { width : 100px }
.page-main .review .name { color : #fff }
.page-main .review .dept { color : #1aa156 }

/* .info height - wave height (80px - 6px) */
.page-main .review .wave { bottom : 74px }
.page-main .review .info {
    background : #000;
    height     : 80px;
}

.page-main .review .sign {
    width         : 30px;
    height        : 30px;
    font-size     : 12px;
    line-height   : 27px;
    color         : #fff;
    text-align    : center;
    border        : 2px solid;
    border-radius : 30px;
    top           : 50%;
}
.page-main .review .sign:hover { color : #1aa156 }
